.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(190, 50%, 80%);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
    box-shadow: 0 1px 2px hsl(0, 0%, 70%);
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}