.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a {
    color: palevioletred;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: skyblue;
    border-bottom: 4px solid violet;
}

@media (max-width: 499px) {
    .NavigationItem {
        width: 100%;
        height: auto;
    }
    .NavigationItem a {
        color: teal;
        width: 100%;
        padding: 10px;
        border-left: 4px solid transparent;
        border-bottom: none;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: white;
        border-bottom: none;
        border-left: 4px solid violet;
    }
}