.Sidedrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 0 20px hsla(0, 0%, 0%, 0.4);
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-105%);
}

.Logo {
    height: 11%;
    margin-bottom: 20px;
    text-align: center;
}